body {
  font-family: "微软雅黑";
}
#el-nav {
  color: #fff;
}
#el-nav a {
  color: #fff;
}
#el-nav a span {
  color: #fff;
}
#el-nav a:hover {
  color: #28A4C9;
  text-decoration: underline;
}
#el-nav #el-nav-a:hover {
  color: #28A4C9;
  text-decoration: none;
}
#el-nav #el-nav-a i {
  color: #fff;
  font-size: 30px;
}
#el-nav #el-nav-a i:hover {
  color: #28A4C9;
  text-decoration: none;
}
#el-nav2 {
  border-bottom: 1px solid #eee;
}
#el-nav2 a {
  padding: 0 15px;
  margin: 0;
  min-width: 80px;
  min-height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 16px;
}
#el-nav2 a:hover {
  background-color: #E2E2E2;
  color: #28A4C9;
}
#el-nav2 a:nth-of-type(1):hover {
  background-color: rgba(0, 0, 0, 0);
}
#el-img {
  margin: 8px auto;
}
#el-list {
  margin-top: 20px;
}
#el-list dl {
  padding-left: 80px;
  height: 70px;
}
#el-list dl dt {
  font-size: 18px;
  margin-bottom: 10px;
}
#el-list dl:nth-of-type(1) {
  background: url("../images/feature01.png") no-repeat;
}
#el-list dl:nth-of-type(2) {
  background: url("../images/feature02.png") no-repeat;
}
#el-list dl:nth-of-type(3) {
  background: url("../images/feature03.png") no-repeat;
}
#el-div {
  font-size: 16px;
}
#el-div #el-div-box {
  overflow: hidden;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
}
#el-div span {
  font-size: 24px;
  color: #2e8ece;
  font-weight: bold;
  border-bottom: 3px solid;
}
#el-div table thead tr {
  color: #999999;
}
#el-div table tbody tr:hover {
  background-color: #eee;
}
#el-div table tbody tr td {
  vertical-align: middle;
}
#el-div-bo2,
#el-div-bo3 {
  font-size: 16px;
}
#el-div-bo2 #el-div-box,
#el-div-bo3 #el-div-box {
  overflow: hidden;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
}
#el-div-bo2 span,
#el-div-bo3 span {
  font-size: 24px;
  color: #2e8ece;
  font-weight: bold;
  border-bottom: 3px solid;
}
#el-div-bo2 table thead tr,
#el-div-bo3 table thead tr {
  color: #999999;
}
#el-div-bo2 table tbody tr:hover,
#el-div-bo3 table tbody tr:hover {
  color: #2AABD2;
  background-color: #fff;
}
#el-div-bo2 table tbody tr td,
#el-div-bo3 table tbody tr td {
  font-size: 14px;
}
#el-div-bo2 table tbody tr td:nth-of-type(1),
#el-div-bo3 table tbody tr td:nth-of-type(1) {
  vertical-align: middle;
  text-align: left;
}
#el-div-bo2 table tbody tr td:nth-of-type(2),
#el-div-bo3 table tbody tr td:nth-of-type(2) {
  vertical-align: middle;
  text-align: right;
}
footer {
  background-color: #F8F8F8;
  padding-top: 20px;
}
footer p {
  padding-top: 8px;
}
