#el-nav {
  padding: 0;
  min-height: 40px;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
#el-nav ul li {
  height: 40px;
}
#el-nav #login-nav a {
  padding: 10px;
  color: #fff;
}
#el-nav #login-nav a:hover {
  color: #337ab7;
  text-decoration: underline;
}
#el-nav2 {
  height: 74px;
  line-height: 74px;
  border-bottom: 1px solid #eee;
}
#el-nav2 span {
  margin-left: 20px;
  padding-top: 20px;
  font-size: 22px;
  font-family: "微软雅黑";
  color: #204D74;
}
#content {
  margin-top: 5px;
}
#content #logbox {
  width: 50%;
  margin-left: 10%;
}
#content #logbox form #formbox {
  padding-left: 150px;
}
#content #logbox #contenttext {
  width: 100%;
  font-size: 18px;
  color: #999;
  text-indent: 40px;
  margin-top: 20px;
  font-family: "微软雅黑";
}
#content #logbox p {
  margin-bottom: 15px;
  text-align: center;
}
#content #logbox p input {
  width: 190px;
}
#content #logbox p label {
  width: 60px;
  text-align: left;
  margin-right: 10px;
}
#content #logbox #btn {
  margin-left: 40%;
}
#content #logbox #btn input {
  width: 100px;
}
#content #logbox #btn a {
  margin-left: 40px;
}
footer {
  background-color: #F8F8F8;
  padding-top: 20px;
}
footer p {
  padding-top: 8px;
}
